---
import fs from 'fs';
import path from 'path';
import matter from 'gray-matter'

// Sửa lại đường dẫn, không dùng 'public'
const postDirectory = path.join(process.cwd(), 'src/content/posts');  // Dùng src/content/posts thay vì public
const postFiles = fs.readdirSync(postDirectory).filter(file => file.endsWith('.md')); //lọc  file .md

const posts = postFiles

.map(file => {
  const filePath = path.join(postDirectory, file);
  const postContent = fs.readFileSync(filePath, 'utf-8');

  // // Lấy frontmatter bằng cách cắt đầu file
  // const frontmatter = postContent.split('\n').slice(0, 5).join('\n');  // Chỉ lấy 5 dòng đầu tiên cho frontmatter

  // // Kiểm tra xem có 'title' không trong frontmatter
  // const titleMatch = frontmatter.match(/title: "(.*)"/);
  // const title = titleMatch ? titleMatch[1] : 'Không có tiêu đề';  // Nếu không tìm thấy title thì trả về giá trị mặc định

  // const slug = file.replace('.md', '');

  // return { title, slug };
  const { data } = matter(postContent); // Parse frontmatter

    return {
      title: data.title || 'No name',
      pubDate: data.pubDate || '', // Ngày mặc định nếu thiếu
      slug: file.replace('.md', ''),
    };
  })
.sort((a, b) => {
    const dateA = new Date(a.pubDate);
    const dateB = new Date(b.pubDate);
    if (dateA > dateB) return -1;
    if (dateA < dateB) return 1;
    return a.title.localeCompare(b.title);
  });

---

<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Interstellar ice</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
      }

      body {
        display: flex;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;
      }

      main {
        flex: 1; /* phần nội dung sẽ chiếm toàn bộ chiều cao còn lại */
      }

      footer {
        text-align: center;
        padding: 20px;
        background-color: #f0f0f0;
        color: #555;
      }

      ul {
        text-align: center;
      }
    </style>
  </head>

  <body>
    <main>
      <h1 style="text-align: center;">Chân Không</h1>
      <ul style="list-style-type: none;">
        {posts.map(post => (
          <li style="margin: 15px 15px; text-align: right;">
            <a href={`/posts/${post.slug}`}>{post.title}</a>
          </li>
        ))}
      </ul>
    </main>

    <footer>
      © 2025 knnav – All rights reserved.
    </footer>
  </body>
</html>
